
@{
    ViewBag.Title = "Forgot Password";
}

<div id="signin">
    <h3>Forgot Password</h3>
    
    <div class="signup">
        <form method="post" action="~/Home/HandleForgotPassword">
            <input type="text" name="email" class="email" placeholder="Enter email " required="required" pattern="([\w-\.]+ @Html.Raw("@") ([\w-]+\.)+[\w-]{2,4})?" />
            <input type="submit" value="Proceed" />
        </form>
    </div>

    <div class="clearfix"> </div>
</div>
