
@{
    ViewBag.Title = "Sign Up";
}


    <div id="signup">
        <h3>Create Account</h3>
        <div class="social-sits">
            <div class="facebook-button">
                <a href="#">Connect with Facebook</a>
            </div>
            <div class="chrome-button">
                <a href="#">Connect with Google</a>
            </div>
            <div class="button-bottom">
                <p>Already have an account? <a href="/Users/signin" class="play-icon popup-with-zoom-anim">Login</a></p>
            </div>
        </div>
        <div class="signup">
            <form method="post" action="~/Users/AddUser">
                <input type="text" name="username" class="email" placeholder="Username" required="required" />
                <input type="text" name="email" class="email" placeholder="Email" required="required" pattern="([\w-\.]+ @Html.Raw("@") ([\w-]+\.)+[\w-]{2,4})?" title="Enter a valid email" />
                <input type="password" name="password" placeholder="Password" required="required" autocomplete="off" />
                <input type="text" name="mobile-number" class="email" placeholder="Mobile Number" maxlength="11" title="Enter a valid mobile number" />
                <input type="submit" value="Sign Up" />
            </form>
        </div>
        <div class="clearfix"> </div>
    </div>
